.inputText {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 4px 10px 4px 12px;

  border: 1px solid #828282;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  height: 39px;
  line-height: 19.2px;

  width: 300px;
}
