/* .form {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 350px;
  background: #feac5e;
  background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);

  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */

.formLabel {
  display: flex;
  flex-direction: column;

  row-gap: 8px;

  margin-top: 10px;
  margin-bottom: 10px;

  color: white;
  font-size: 18px;

  width: 250px;
}

.inputText {
  margin-top: 0;
  margin-bottom: 12px;
  margin-right: auto;
  margin-left: auto;
  padding: 4px 10px 4px 12px;

  border: 1px solid #828282;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  height: 39px;
  line-height: 19.2px;
}

.addButton {
  min-width: 120px;
  height: 50px;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  margin-bottom: 10px;
  padding: 16px 32px;

  font-size: 16px;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  /* Стили для цвета текста и фона */
  color: #fff;
  background-color: #369baf;

  /* Отступы */

  /* Плавные анимации */
  transition: transform 0.2s, background-color 0.2s;
  /* Добавили transition для изменения цвета */
}

.addButton:hover,
.addButton:focus {
  transform: scale(1.1);
  background-color: #c779d0; /* Изменение цвета при наведении и фокусе */
}
