/* .contactsContainer {

} */

.inputText {
  margin-top: 0;

  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
}

.contactsList {
  color: white;

  display: flex;
  flex-direction: column;

  row-gap: 8px;
  column-gap: 8px;

  color: white;
  font-size: 18px;

  list-style: none;
  padding: 10px 30px;

  width: 300px;
  margin: 0;
  max-height: 390px;
  overflow-y: scroll;
}

.errorBadge {
  color: white;
}

/* ============================================== */
/* Cnилизации полосы прокрутки (scrollbar)  */
/* Для полосы прокрутки */
/* Общие стили */
::-webkit-scrollbar {
  width: 8px; /* Ширина полосы */
}

/* Стили для трека (фоновая часть полосы) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Цвет фона трека */
  border-radius: 4px; /* Скругление углов полосы */
}

/* Стили для полосы прокрутки */
::-webkit-scrollbar-thumb {
  background-color: rgba(75, 192, 200, 0.7); /* Цвет полосы прокрутки */
  border-radius: 4px; /* Скругление углов полосы */
}

/* Стили для кнопок прокрутки (не везде поддерживается) */
::-webkit-scrollbar-button {
  display: none; /* Скрыть кнопки */
}
